.intro-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 20px;
   padding: 5%;
}

.profile-pic {
   border-radius: 30%;
   height: 300px;
   width: 300px;
   border-style: none;
   border-width: 4px;
   background-color: rgb(87, 55, 205);
}

#greeting {
   font-size: 30px;
}

#text {
   font-size: 23px;
}

.social-icons {
   display: flex;
   gap: 10px;
}

#git-icon,
#linkedin-icon,
#twitter-icon {
   color: rgb(212, 0, 53);
}

#dark #git-icon,
#dark #linkedin-icon,
#dark #twitter-icon {
   color: rgb(255, 255, 255);
}

.contact-container {
   display: flex;
   padding: 5%;
   text-align: center;
   flex-direction: column;
   align-items: center;
}

#contact-form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 1%;
}

.form-container {
   border-radius: 10px;
   padding: 15px 30px;
}

input[type=text],
input[type=email] {
   border-radius: 10px;
   border-style: none;
   padding: 10px;
   border: 2px solid rgb(255, 255, 255);
   width: 300px;
}

textarea {
   border-radius: 10px;
   border-style: none;
   padding: 10px;
   width: 300px;
   height: 150px;
   border: 2px solid rgb(255, 255, 255);
   resize: none;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus {
   outline: none !important;
   border: 2px solid rgb(77, 12, 255);
   transition: border 0.3s;
}

#dark textarea:focus,
#dark input[type=text]:focus,
#dark input[type=email]:focus {
   outline: none !important;
   border: 2px solid rgb(255, 183, 0);
   transition: border 0.3s;
}

#contact-button {
   background-color: rgb(77, 12, 255);
   color: rgb(255, 255, 255);
   padding: 5px;
   margin-left: 120px;
   margin-right: 120px;
   border-radius: 10px;
   border-style: none;
   font-size: 18px;
   cursor: pointer;
}

#dark #contact-button {
   background-color: rgb(255, 183, 0);
   color: rgb(255, 255, 255);
   padding: 5px;
   margin-left: 120px;
   margin-right: 120px;
   border-radius: 10px;
   border-style: none;
   font-size: 18px;
   cursor: pointer;
}

#contact-button:hover {
   background-color: rgb(151, 114, 255);
   color: rgb(255, 255, 255);
   transition: background-color 0.3s, color 0.3s;
}

#dark #contact-button:hover {
   background-color: rgb(255, 218, 124);
   color: rgb(255, 255, 255);
   transition: background-color 0.3s, color 0.3s;
}

.project-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 5%;
   font-size: 30px;
}