.App {
  display: block;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

#light {
  color: rgb(131, 51, 51);
  transition: background 0.5s ease;
}

#dark {
  color: rgb(255, 255, 255);
  transition: background 0.5s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.home-link,
.projects-link,
.contact-link {
  text-decoration: none;
  color: rgb(170, 62, 62);
  font-weight: bold;
}

#dark .home-link,
#dark .projects-link,
#dark .contact-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.selected {
  color: rgb(212, 0, 53);
  text-decoration: dashed underline;
}

#dark .selected {
  color: rgb(255, 183, 0);
  text-decoration: dashed underline;
}

.logo {
  text-decoration: none;
  color: rgb(170, 62, 62);
  font-weight: bolder;
}

#dark .logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.App-link {
  color: #61dafb;
}